@media (min-width: 1025px) {
  .section {
    &._mobile {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    &._desctop {
      display: none;
    }
  }
  .user {
    width: 100%;
    height: 171px;
    flex-direction: column;
    padding: 21px 15px;
    box-sizing: border-box;
    &__info {
      width: 100%;
      text-align: left;
      padding: 21px 0 0;
    }
    &__image {
      width: 68px;
      height: 68px;
    }
  }
}