.menu {
  &__caption._small {
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
  }
  &__button._left {
    margin-left: -16px;
    margin-right: 10px;
  }
  &__button._right {
    margin-right: -16px;
  }
}

.logo {
  &._navtop {
    height: 25px;
  }
}

.grow {
  flex-grow: 1;
}

.user {
  display: flex;
  justify-content: right;
  width: 225px;
  &__info {
    width: 130px;
    padding-right: 11px;
    box-sizing: border-box;
    text-align: right;
  }
}

.paragraph {
  &._email {
    color: #8d8c8c;
  }
}

.mobile-menu {
  width: 250px;
}

@import "media";