$default-font: 'Source Sans Pro', sans-serif;

$background-color: #ffffff;
$p-background-color: #fee6d2;

$p-color: #ef6c00;
$s-color: #283593;

$p-active-color: #fc831f;
$s-active-color: #2135bc;

$p-icon-disable: #949bca;
$p-icon-active: #ffffff;

$p-text-color: #393939;
$s-text-color: #ffffff;