@import "vars";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $background-color;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 320px;
	min-height: 320px;
	margin: 0 auto;
	font-family: $default-font;
}

.container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.main {
	position: relative;
	padding: 64px 0 16px;
	box-sizing: border-box;
}

.footer {
	flex: 0 0 auto;
}

.link {
	display: block;
	text-decoration: none;
	outline: none;
	color: #000;
	&._s {
		color: $s-text-color;
	}
	&:hover,
	&:active,
	&:focus {
		color: $p-color;
		.icon {
			fill: $p-color;
		}
	}
}

.paragraph {
	&._small {
		font-size: 0.875rem;
		line-height: 1.0625rem;
	}
	&._smalled {
		font-size: 0.75rem;
	}
	&._s {
		color: $s-text-color;
	}
	&._link {
		&:hover {
			color: $s-active-color;
		}
	}
}

._ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

._middle {
	display: flex;
	align-items: center;
}

@import "media";